/* *{
    border: 1px solid green
} */

*{
    margin: 0; 
    padding:0;
}

body {
    background-image: linear-gradient(to bottom, rgb(179, 219, 179), white);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 70px;
    font-family: 'Papyrus'; 
    width: 70vw;
}

h2 {
    margin-top: 5px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 30px;
    font-family: 'Papyrus'; 
    font-weight: 200;
    width: 70vw;
}

.side-panel-left  {
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Papyrus'; 
    font-weight: 150;
    height: 100%;
    width: 12vw;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: rgb(230, 246, 234);
    padding-top: 50px; 
    border-right: 5px solid seagreen;
}

.side-panel-right {
    margin: auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Papyrus'; 
    font-weight: 150;
    height: 100%;
    width: 12vw;
    position: fixed;
    top: 0;
    right: 0; 
    background-color: rgb(230, 246, 234);
    padding-top: 50px; 
    border-left: 5px solid seagreen;
}

.classic-button {
    margin: 50px auto;
    margin-top: 100px;
    width: 37vh;
    height: 20vh;
    background-color: rgb(208, 242, 208);
    color: black;
    font-size: 20px;
    font-family: 'Papyrus'; 
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.difficult-button {
    margin: 10px auto;
    width: 37vh;
    height: 27vh;
    background-color: rgb(208, 242, 208);
    color: black;
    font-size: 20px;
    font-family: 'Papyrus'; 
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.classic-button p, .difficult-button p {
    margin-top: 15px;
    text-align: center;
}

.classic-icon-containers {
    margin: 50px auto;
    margin-top: 180px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.fighter-icon {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 27vh;
    height: 27vh;
}

.rock-button, .paper-button, .scissors-button {
    margin-right: 10px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}